<%- include('includes/head.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-header text-center"><b>Register</b></div>
                <div class="card-body">
                    <form action="/register/saveUser" method="post" id="passwordForm" class="">

                        <input type="hidden" name="firstName" value="<%=firstName%>">
                        <input type="hidden" name="lastName" value="<%=lastName%>">
                        <input type="hidden" name="email" value="<%=email%>">

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" title="spaces are not allowed!" pattern="[\S]*" minlength="8" required>
                        </div>

                        <div class="mb-3">
                            <label for="PasswordConfirmation" class="form-label">Confirm Password</label>
                            <input type="password" name="PasswordConfirmation" class="form-control" id="PasswordConfirmation" placeholder="Confirm Password" required>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-dark mb-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/end.ejs') %>